.hero {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.hero__slider {
  position: relative;
  margin-top: -183px;
  overflow: hidden;
  width: 100%;
  height: 100%;

  @include vp-1199 {
    margin-top: -171px;
  }

  @include vp-767 {
    margin-top: -160px;
  }
}

.hero__slide {
  width: 100%;
  height: auto;
  margin: 0 auto;
  min-height: 618px;
  position: relative;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__slide-wrapper {
  display: none;
}

.swiper-slide-active .hero__slide-wrapper {
  display: block;
}

.hero__slide-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.hero__slide-background::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  min-height: 800px;
  height: 100%;
  top: 0;
  background: linear-gradient(143deg, rgba(15, 20, 41, 0.33) 0%, rgba(15, 20, 41, 0) 100%);

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__slide-background img {
  display: block;
  position: absolute;
  left: 0;
  z-index: -2;
  width: 100%;
  min-height: 800px;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;

  @include vp-1199 {
    min-height: 1024px;
    height: 100%;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__slide-content-wrapper {
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding-top: 183px;
  padding-bottom: 80px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 175px;
    padding-bottom: 90px;
  }

  @include vp-767 {
    padding: 0;
    padding-top: 140px;
    padding-bottom: 40px;
  }
}

.hero__slide-container {
  margin: 0 120px;

  @include vp-1199 {
    margin: 0 45px;
  }

  @include vp-767 {
    margin: 0 15px;
  }
}

.hero__slide-content {
  display: grid;
  grid-template-columns: auto auto;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.hero__slide-content h2 {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding-right: 260px;
  grid-column: 1/-1;

  font-size: 77px;
  line-height: 77px;
  font-weight: 800;
  color: $color-default-white;
  z-index: 5;

  @include vp-1199 {
    margin-bottom: 12px;
    padding-right: 0;

    font-size: 56px;
    line-height: 56px;
    text-align: center;

    order: 1;
  }

  @include vp-767 {
    margin-bottom: 15px;
    max-width: 290px;
    font-size: 30px;
    line-height: 30px;
  }
}

.hero__slide-content p {
  margin: 0;
  margin-bottom: 35px;
  max-width: 460px;

  grid-column: 1/2;

  font-size: 17px;
  line-height: 24px;
  color: $color-default-white;

  @include vp-1199 {
    margin-bottom: 27px;
    padding-right: 0;
    max-width: 470px;

    text-align: center;

    order: 2;
  }

  @include vp-767 {
    margin-bottom: 20px;

    font-size: 15px;
    line-height: 20px;
  }
}

.hero__slide-content > a {
  display: block;
  width: auto;
  max-width: 222px;
  border: 1px solid transparent;

  grid-column: 1/2;

  font-size: 16px;
  line-height: 16px;
  text-align: center;
  padding: 20px 21px;

  background-color: $color-main-btn;
  color: $color-default-white;

  @include vp-1199 {
    width: 206px;
    margin-bottom: 50px;

    order: 3;
  }

  @include vp-767 {
    width: 100%;
    padding: 17px;
    max-width: none;
  }
}


.hero__slide-button:focus-visible,
.hero__slide-button:hover {
  border: 1px solid #1c3374;
  background-color: $color-default-white;
  color: #1c3374;
}

.hero__slide-button:active {
  background-color: #1c3374;
  color: $color-default-white;
  border: 1px solid transparent;
}

.hero__slide-button:disabled {
  background-color: $color-main-btn;
  opacity: 0.1;
}

.hero__slide-additional {
  margin-top: 150px;
  display: flex;
  gap: 10px;
  grid-column: 1/2;
  max-width: 400px;

  @include vp-1199 {
    display: none;
  }
}

.hero__slide-additional svg {
  margin-right: 8px;
  fill: $color-default-white;
}

.hero__slide-additional span {
  display: inline-block;

  margin-top: auto;
  padding: 13px 18px;
  font-size: 12px;
  line-height: 16px;
  color: $color-default-white;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.hero__slide-multiwrapper {
  position: relative;
  width: 482px;
  height: 317px;
  grid-column: 2/3;
  grid-row: 2/5;
  transform: translateY(-60px);
  justify-self: end;

  @include vp-1199 {
    width: auto;
    height: auto;
    position: relative;
    order: 4;
    margin: 0 auto;
    transform: translateY(0);
  }

  @include vp-767 {
    display: none;
  }
}

.hero__slide-multiwrapper--slide-2 {
  transform: translateY(-158px) translateX(75px);

  @include vp-1199 {
    transform: translateY(-15px) translateX(20px);
  }
}

.hero__slide-multiwrapper--slide-3 {
  width: 340px;
  height: 220px;

  @include vp-1199 {
    top: 20px;
  }
}

.hero__slide-video-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 56px;
  height: 56px;
  z-index: 1;
  border: 1px solid $color-default-white;
  cursor: pointer;
}

.hero__slide-video-btn,
.hero__slide-video-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.hero__slide-video-btn::after {
  content: "";
  width: 56px;
  height: 56px;
  background-color: $color-default-white;
  opacity: 0.2;
}

.hero__slide-video-btn:hover,
.hero__slide-video-btn:focus-visible {
  border-color: #1c3374;

  &::after {
    background-color: transparent;
    opacity: 1;
  }
}

.hero__slide-video-btn:hover svg,
.hero__slide-video-btn:focus-visible svg {
  stroke: #1c3374;
}

.hero__slide-video-btn:active {
  border: 1px solid transparent;

  &::after {
    background-color: #1c3374;
    z-index: -1;
  }
}

.hero__slide-video-btn:disabled {
  opacity: 0.1;
  border: 1px solid #1c3374;
  pointer-events: none;

  &::after {
    background-color: transparent;
  }
}

.hero__slide-video-btn:disabled svg {
  fill: #1c3374;
}

.hero__slide-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
}

.hero__slide-video.is-show {
  display: block;
}

.hero__pagination-wrapper {
  position: absolute;
  z-index: 1;
  height: 10px;
  bottom: 12%;
  right: 50%;
  transform: translateX(880%);
  display: flex;
  gap: 7px;
  margin: 0;
  padding: 0;
  background: 0 0;

  @include vp-1199 {
    right: 50%;
    transform: translateX(50%);
  }
}

.hero__pagination-wrapper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  padding: 0;
  border: 1px solid $color-default-white;
  border-radius: 50%;
  background: 0 0;
  opacity: 1;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.hero__pagination-wrapper .swiper-pagination-bullet-active {
  background: $color-default-white;
}
