.questions {
  position: relative;
  background-color: $color-default-white;
}

.questions__wrapper {
  position: relative;
  margin: 0 auto;
  min-height: 800px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-1199 {
    min-height: 679px;
  }

  @include vp-767 {
    min-height: 621px;
  }
}

.questions__image-background {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  z-index: 1;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.questions__image-background img {
  object-fit: cover;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.questions__title {
  padding-top: 308px;
  position: relative;
  z-index: 2;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    width: 296px;
    margin-bottom: 30px;
    padding-top: 195px;
  }

  @include vp-767 {
    min-width: 290px;
    width: auto;
    margin: 0 15px;
    margin-bottom: 25px;
    padding-top: 182px;
  }
}

.questions__title h2 {
  margin: 0;
  margin-bottom: 16px;
  padding-top: 3px;
  padding-right: 15px;
  text-align: center;

  font-size: 35px;
  line-height: 35px;
  color: $color-default-white;

  @include vp-1199 {
    margin-bottom: 20px;
    padding: 0;
    font-size: 25px;
    line-height: 25px;
  }

  @include vp-767 {
    margin-bottom: 12px;

    font-size: 22px;
    line-height: 22px;
  }
}

.questions__title p {
  margin: 0;
  padding-right: 15px;

  font-size: 16px;
  line-height: 24px;
  color: $color-default-white;

  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {
    text-align: center;

    font-size: 12px;
    line-height: 18px;
  }
}

.questions__form-wrapper {
  @include vp-1199 {
    width: 100%;
  }
}

.questions__form-inner-wrapper {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 340px 340px 238px;
  gap: 30px;

  @include vp-1199 {
    min-width: 266px;
    padding: 0 251px;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 7px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}

.questions__form-inner-wrapper div:first-of-type {
  grid-column: 1/2;
}

.questions__form-button {
  margin: 0;
  padding: 21px;

  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: $color-default-white;

  background-color: $color-main-btn;
  border: 1px solid transparent;
  cursor: pointer;

  @include vp-1199 {
    margin-top: 7px;
  }

  @include vp-767 {
    margin-top: 0;
    padding: 18px;
  }
}

.questions__form-button:focus-visible,
.questions__form-button:hover {
  border: 1px solid #1c3374;
  background-color: $color-default-white;
  color: #1c3374;
}

.questions__form-button:active {
  background-color: #1c3374;
  color: $color-default-white;
  border: 1px solid transparent;
}

.questions__form-button:disabled {
  background-color: $color-main-btn;
  opacity: 0.1;
}
